body {
  font-family: "Arial", sans-serif;
  margin: 10px;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 0%;
  position: sticky;
  flex-direction: row-reverse;
}

header img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@media (max-width: 768px) {
  header img {
    width: 80px; /* Adjusted size for smaller screens */
  }
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #1a7ee2;
  padding: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(202, 46, 46, 0.1);
  color: white;
}

nav a {
  color: white;
  margin: 5px;
  text-decoration: none;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  order: 20;
}

.burger-menu div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 5px;
  transition: 0.4s;
  align-items: end;
}

@media (max-width: 768px) {
  nav {
    flex-direction: row;
    align-items: flex-start;
  }

  .burger-menu {
    display: flex;
  }

  nav a {
    padding: 10px;
    text-align: center;
    width: 100%;
    display: none;
    margin: 10px;
    margin-left: 10px;
    padding-left: 20px;
    color: white;
  }

  nav.show a {
    display: block;
  }
}

.container {
  display: flex;
  flex-direction: column; /* Added to stack sections in smaller screens */
}

section {
  flex: 1;
  padding: 2em 0; /* Adjusted padding for smaller screens */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  margin-top: 2em;
}

section.active {
  opacity: 1;
  transform: translateY(0);
}

h1,
h2,
h3 {
  color: #1073d6;
}

.work__container {
  row-gap: 2rem;
  display: flex;
  flex-wrap: wrap; /* Ensure work images wrap to the next line on smaller screens */
}

.work__img {
  box-shadow: 0px 4px 25px rgba(17, 54, 75, 0.15);
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  width: calc(
    50% - 20px
  ); /* Adjusted width for two images in a row on smaller screens */
}

.work__img img {
  transition: 1s;
}

.work__img img:hover {
  transform: scale(1.1);
}

footer {
  text-align: center;
  padding: 2em 0;
  background-color: #343a40;
  color: #fff;
}

.skills {
  margin-top: 2em;
}

.social-icons {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Ensure social icons wrap to the next line on smaller screens */
}

.social-icons a {
  margin: 0.5em;
}

.social-icons a {
  margin: 0.5em;
  font-size: 1.5em; /* Adjusted font size for smaller screens */
}

.contact-form {
  margin-top: 2em;
  max-width: 100%; /* Adjusted width for smaller screens */
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 5px rgba(88, 59, 59, 0.1);
  padding: 2em;
  border-radius: 10px;
  text-align: center;
}

.contact-form label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form button {
  background-color: #4750cc;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #3bb62b;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
